/JavaFXApplication/dist/
/JavaFXSample/nbproject/private/
/JavaFXSample/HelloFX/nbproject/private/
/HelloFX - Copy/build/
/HelloFX - Copy/dist/
/HelloFX - Copy/nbproject/private/
/JavaFXSample/build/
/JavaFXSample/dist/
/JavaApplicationSample/nbproject/private/
/JavaApplicationSample/build/
